USE [master]
GO
/****** Object:  Database [ql_KTX]    Script Date: 6/2/2022 6:33:41 PM ******/
CREATE DATABASE [ql_KTX]

ALTER DATABASE [ql_KTX] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ql_KTX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ql_KTX]
GO
/****** Object:  Table [dbo].[HOADONDIEN]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONDIEN](
	[MAHDD] [char](10) NOT NULL,
	[CHISOTRUOC] [varchar](10) NOT NULL,
	[CHISOSAU] [varchar](10) NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[TIENNO] [bit] NULL,
	[NGAYTAO] [datetime] NOT NULL,
	[MAPHONG] [char](3) NOT NULL,
	[MAQL] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HOADONDIEN] PRIMARY KEY CLUSTERED 
(
	[MAHDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHD] [nchar](10) NOT NULL,
	[NGAYTAO] [date] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[NAMHOC] [char](9) NOT NULL,
	[HOCKY] [char](1) NOT NULL,
	[TIENNO] [money] NULL,
	[MAPHONG] [char](3) NOT NULL,
	[MASV] [char](10) NOT NULL,
	[MAQL] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [char](5) NOT NULL,
	[DICHVU] [nvarchar](10) NOT NULL,
	[MUCDIENHOTRO_KWh] [tinyint] NOT NULL,
	[GIALOAIPHONG] [money] NOT NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[MAPMS] [nchar](10) NOT NULL,
	[CONGVIEC] [nvarchar](100) NULL,
 CONSTRAINT [PK_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[MAPMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONGVIEC]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONGVIEC](
	[MAPQ] [varchar](4) NOT NULL,
	[MAPMS] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHANCONGVIEC_1] PRIMARY KEY CLUSTERED 
(
	[MAPQ] ASC,
	[MAPMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPQ] [varchar](4) NOT NULL,
	[VAITRO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MAPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [char](3) NOT NULL,
	[TINHTRANG] [nvarchar](10) NOT NULL,
	[SUCCHUA] [tinyint] NOT NULL,
	[KHU] [nvarchar](10) NOT NULL,
	[MALOAIPHONG] [char](5) NOT NULL,
	[MAQL] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MAQL] [varchar](10) NOT NULL,
	[HO] [nvarchar](20) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[NGAYNHANVIEC] [date] NOT NULL,
	[USERNAME] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[MAQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYENTAIKHOAN]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYENTAIKHOAN](
	[USERNAME] [nvarchar](30) NOT NULL,
	[MAPQ] [varchar](4) NOT NULL,
	[NGAYSET] [date] NOT NULL,
 CONSTRAINT [PK_QUYENTAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[MAPQ] ASC,
	[NGAYSET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](10) NOT NULL,
	[HO] [nvarchar](20) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[GIOITINH] [nvarchar](3) NOT NULL,
	[XETDIEUKIEN] [bit] NOT NULL,
	[VIPHAMNOIQUY] [nchar](10) NULL,
	[MAQL] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](30) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[TINHTRANGSUDUNG] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [varchar](10) NOT NULL,
	[TENVT] [nvarchar](50) NOT NULL,
	[GIATIEN] [money] NOT NULL,
	[MAQL] [varchar](10) NOT NULL,
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VT_PHONG]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VT_PHONG](
	[MAPHONG] [char](3) NOT NULL,
	[MAVT] [varchar](10) NOT NULL,
	[NGAYTHEM] [date] NOT NULL,
	[SOLUONG] [tinyint] NOT NULL,
	[TINHTRANG] [nvarchar](10) NOT NULL,
	[TIENNO] [bit] NOT NULL,
 CONSTRAINT [PK_VT_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[MAVT] ASC,
	[NGAYTHEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOPDONG] ([MAHD], [NGAYTAO], [SOTIEN], [NAMHOC], [HOCKY], [TIENNO], [MAPHONG], [MASV], [MAQL]) VALUES (N'HD0001    ', CAST(N'2019-09-04' AS Date), 600000.0000, N'2019-2020', N'1', NULL, N'A01', N'BCVT01    ', N'QL02      ')
INSERT [dbo].[HOPDONG] ([MAHD], [NGAYTAO], [SOTIEN], [NAMHOC], [HOCKY], [TIENNO], [MAPHONG], [MASV], [MAQL]) VALUES (N'HD0002    ', CAST(N'2019-09-04' AS Date), 1650000.0000, N'2019-2020', N'1', NULL, N'B01', N'BCVT02    ', N'QL02      ')
INSERT [dbo].[HOPDONG] ([MAHD], [NGAYTAO], [SOTIEN], [NAMHOC], [HOCKY], [TIENNO], [MAPHONG], [MASV], [MAQL]) VALUES (N'HD0003    ', CAST(N'2019-09-04' AS Date), 600000.0000, N'2019-2020', N'1', NULL, N'A01', N'BCVT03    ', N'QL02      ')
GO
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [DICHVU], [MUCDIENHOTRO_KWh], [GIALOAIPHONG]) VALUES (N'DV001', N'Dịch vụ', 14, 330000.0000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [DICHVU], [MUCDIENHOTRO_KWh], [GIALOAIPHONG]) VALUES (N'DVVIP', N'DVVIP', 0, 430000.0000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [DICHVU], [MUCDIENHOTRO_KWh], [GIALOAIPHONG]) VALUES (N'TT001', N'Thường', 8, 120000.0000)
GO
INSERT [dbo].[PERMISSION] ([MAPMS], [CONGVIEC]) VALUES (N'VTP       ', N'THÊM XÓA CẬP NHẬT VẬT TƯ CỦA TỪNG PHÒNG')
INSERT [dbo].[PERMISSION] ([MAPMS], [CONGVIEC]) VALUES (N'P         ', N'THÊM XÓA SỬA CẬP NHẬT THÔNG TIN, TÌNH TRẠNG PHÒNG')
INSERT [dbo].[PERMISSION] ([MAPMS], [CONGVIEC]) VALUES (N'HDD       ', N'THÊM XÓA SỬA HÓA ĐƠN ĐIỆN CỦA TỪNG PHÒNG')
GO
INSERT [dbo].[PHANCONGVIEC] ([MAPQ], [MAPMS]) VALUES (N'AD', N'A         ')
INSERT [dbo].[PHANCONGVIEC] ([MAPQ], [MAPMS]) VALUES (N'QLD', N'HDD       ')
INSERT [dbo].[PHANCONGVIEC] ([MAPQ], [MAPMS]) VALUES (N'QLD', N'X         ')
GO
INSERT [dbo].[PHANQUYEN] ([MAPQ], [VAITRO]) VALUES (N'AD  ', N'Admin')
INSERT [dbo].[PHANQUYEN] ([MAPQ], [VAITRO]) VALUES (N'QLD ', N'Quản lý điện')
INSERT [dbo].[PHANQUYEN] ([MAPQ], [VAITRO]) VALUES (N'QLHD', N'Quản lý hợp đồng')
GO
INSERT [dbo].[PHONG] ([MAPHONG], [TINHTRANG], [SUCCHUA], [KHU], [MALOAIPHONG], [MAQL]) VALUES (N'A01', N'OK', 12, N'A', N'TT001', N'QL03')
INSERT [dbo].[PHONG] ([MAPHONG], [TINHTRANG], [SUCCHUA], [KHU], [MALOAIPHONG], [MAQL]) VALUES (N'A02', N'OK', 12, N'A', N'TT001', N'QL03')
INSERT [dbo].[PHONG] ([MAPHONG], [TINHTRANG], [SUCCHUA], [KHU], [MALOAIPHONG], [MAQL]) VALUES (N'A03', N'OK', 12, N'A', N'TT001', N'QL03')
GO
INSERT [dbo].[QUANLY] ([MAQL], [HO], [TEN], [NGAYNHANVIEC], [USERNAME]) VALUES (N'QL01      ', N'Lê', N'A', CAST(N'2002-06-06' AS Date), N'usersv1                       ')
INSERT [dbo].[QUANLY] ([MAQL], [HO], [TEN], [NGAYNHANVIEC], [USERNAME]) VALUES (N'QL02      ', N'Nguyễn', N'B', CAST(N'2018-01-05' AS Date), N'userhd1                       ')
INSERT [dbo].[QUANLY] ([MAQL], [HO], [TEN], [NGAYNHANVIEC], [USERNAME]) VALUES (N'QL03      ', N'Trần', N'C', CAST(N'2002-07-15' AS Date), N'userp1                        ')
GO
INSERT [dbo].[QUYENTAIKHOAN] ([USERNAME], [MAPQ], [NGAYSET]) VALUES (N'admin', N'AD', CAST(N'2000-01-01' AS Date))
INSERT [dbo].[QUYENTAIKHOAN] ([USERNAME], [MAPQ], [NGAYSET]) VALUES (N'admin2', N'AD', CAST(N'2022-01-01' AS Date))
INSERT [dbo].[QUYENTAIKHOAN] ([USERNAME], [MAPQ], [NGAYSET]) VALUES (N'userd1', N'QLD', CAST(N'2019-08-08' AS Date))
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [SDT], [GIOITINH], [XETDIEUKIEN], [VIPHAMNOIQUY], [MAQL]) VALUES (N'BCVT01    ', N'Lê', N'Văn A', CAST(N'2000-03-02' AS Date), N'192 Man Thiện', N'12345', N'Nam', 1, N'Ồn        ', N'QL01      ')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [SDT], [GIOITINH], [XETDIEUKIEN], [VIPHAMNOIQUY], [MAQL]) VALUES (N'BCVT02    ', N'Lê', N'Văn B', CAST(N'2000-03-02' AS Date), N'192 Man Thiện', N'12345', N'Nữ', 0, N'          ', N'QL01      ')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [SDT], [GIOITINH], [XETDIEUKIEN], [VIPHAMNOIQUY], [MAQL]) VALUES (N'BCVT03    ', N'Lê', N'Văn C', CAST(N'2000-03-02' AS Date), N'192 Man Thiện', N'12345', N'Nam', 0, N'          ', N'QL01      ')
GO
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [TINHTRANGSUDUNG]) VALUES (N'admin                         ', N'asd                                               ', 1)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [TINHTRANGSUDUNG]) VALUES (N'admin2                        ', N'admin                                             ', 1)
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [TINHTRANGSUDUNG]) VALUES (N'userd1                        ', N'asd                                               ', 1)
GO
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [GIATIEN], [MAQL]) VALUES (N'BA01', N'Bàn ăn 01', 100000.0000, N'QL04')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [GIATIEN], [MAQL]) VALUES (N'BC01', N'Bồn wc 01', 1000000.0000, N'QL04')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [GIATIEN], [MAQL]) VALUES (N'BC02', N'Bồn wc 02', 1500000.0000, N'QL04')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CONGVIEC]    Script Date: 6/2/2022 6:33:42 PM ******/
ALTER TABLE [dbo].[PERMISSION] ADD  CONSTRAINT [UK_CONGVIEC] UNIQUE NONCLUSTERED 
(
	[CONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_USERNAME]    Script Date: 6/2/2022 6:33:42 PM ******/
ALTER TABLE [dbo].[QUANLY] ADD  CONSTRAINT [UK_USERNAME] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADONDIEN] ADD  CONSTRAINT [DF_HOADONDIEN_DADONG]  DEFAULT ((0)) FOR [TIENNO]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [DF_LOAIPHONG_DICHVU]  DEFAULT (N'THUONG') FOR [DICHVU]
GO
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [DF_PHONG_TINHTRANG]  DEFAULT (N'TOT') FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_GIOITINH]  DEFAULT (N'NAM') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_XETDIEUKIEN]  DEFAULT ((1)) FOR [XETDIEUKIEN]
GO
ALTER TABLE [dbo].[VT_PHONG] ADD  CONSTRAINT [DF_VT_PHONG_SOLUONG]  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[VT_PHONG] ADD  CONSTRAINT [DF_VT_PHONG_TINHTRANG]  DEFAULT (N'TOT') FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[VT_PHONG] ADD  CONSTRAINT [DF_VT_PHONG_DADONG]  DEFAULT ((0)) FOR [TIENNO]
GO
ALTER TABLE [dbo].[HOADONDIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONDIEN_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADONDIEN] CHECK CONSTRAINT [FK_HOADONDIEN_PHONG]
GO
ALTER TABLE [dbo].[HOADONDIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONDIEN_QUANLY] FOREIGN KEY([MAQL])
REFERENCES [dbo].[QUANLY] ([MAQL])
GO
ALTER TABLE [dbo].[HOADONDIEN] CHECK CONSTRAINT [FK_HOADONDIEN_QUANLY]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_PHONG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_QUANLY] FOREIGN KEY([MAQL])
REFERENCES [dbo].[QUANLY] ([MAQL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_QUANLY]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_SINHVIEN]
GO
ALTER TABLE [dbo].[PHANCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGVIEC_PERMISSION] FOREIGN KEY([MAPMS])
REFERENCES [dbo].[PERMISSION] ([MAPMS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHANCONGVIEC] CHECK CONSTRAINT [FK_PHANCONGVIEC_PERMISSION]
GO
ALTER TABLE [dbo].[PHANCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGVIEC_PHANQUYEN] FOREIGN KEY([MAPQ])
REFERENCES [dbo].[PHANQUYEN] ([MAPQ])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHANCONGVIEC] CHECK CONSTRAINT [FK_PHANCONGVIEC_PHANQUYEN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_QUANLY] FOREIGN KEY([MAQL])
REFERENCES [dbo].[QUANLY] ([MAQL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_QUANLY]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [FK_QUANLY_TAIKHOAN1] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [FK_QUANLY_TAIKHOAN1]
GO
ALTER TABLE [dbo].[QUYENTAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_QUYENTAIKHOAN_PHANQUYEN] FOREIGN KEY([MAPQ])
REFERENCES [dbo].[PHANQUYEN] ([MAPQ])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QUYENTAIKHOAN] CHECK CONSTRAINT [FK_QUYENTAIKHOAN_PHANQUYEN]
GO
ALTER TABLE [dbo].[QUYENTAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_QUYENTAIKHOAN_TAIKHOAN] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QUYENTAIKHOAN] CHECK CONSTRAINT [FK_QUYENTAIKHOAN_TAIKHOAN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_QUANLY] FOREIGN KEY([MAQL])
REFERENCES [dbo].[QUANLY] ([MAQL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_QUANLY]
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD  CONSTRAINT [FK_VATTU_QUANLY] FOREIGN KEY([MAQL])
REFERENCES [dbo].[QUANLY] ([MAQL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VATTU] CHECK CONSTRAINT [FK_VATTU_QUANLY]
GO
ALTER TABLE [dbo].[VT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_VT_PHONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[VT_PHONG] CHECK CONSTRAINT [FK_VT_PHONG_PHONG]
GO
ALTER TABLE [dbo].[VT_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_VT_PHONG_VATTU] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
GO
ALTER TABLE [dbo].[VT_PHONG] CHECK CONSTRAINT [FK_VT_PHONG_VATTU]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG] CHECK  (([HOCKY]>='1' AND [HOCKY]<='3'))
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [CK_HOPDONG]
GO
/****** Object:  StoredProcedure [dbo].[SP_DOLOGIN]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOLOGIN]
@USERNAME NCHAR (50), @PASSWORD NCHAR (50)
AS
BEGIN
    IF (EXISTS (SELECT USERNAME FROM TAIKHOAN WHERE USERNAME = @USERNAME AND PASSWORD = @PASSWORD))
		SELECT 1;
	ELSE 
		SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VERIFYADMINAUTHORIZATION]    Script Date: 6/2/2022 6:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_VERIFYADMINAUTHORIZATION]
@ADMINUSERNAME NCHAR (50), @ADMINPASSWORD NCHAR (50)
AS
BEGIN
    IF (EXISTS (SELECT TAIKHOAN.USERNAME 
				FROM TAIKHOAN 
				INNER JOIN QUYENTAIKHOAN
				ON TAIKHOAN.USERNAME = QUYENTAIKHOAN.USERNAME
					AND QUYENTAIKHOAN.MAPQ = 'AD'
				WHERE TAIKHOAN.USERNAME = 'admin' AND PASSWORD = 'asd'))
		SELECT 1;
	ELSE 
		SELECT 0;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thuong; Dich vu ; VIP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LOAIPHONG', @level2type=N'COLUMN',@level2name=N'DICHVU'
GO
USE [master]
GO
